@import "common/variables.scss";

html, body {
    margin: 0;
    font-family: "Josefin Sans";
}

body {
    background-color: $color-base;
    color: $color-font;
}

main {
    margin: auto;
    width: 80vw;
    max-width: 1400px;
}


