@import "./variables.scss";

//buttonstyles

.link-container {
    margin: 1em;
}

.link-button {
    background-color: $color-accent;
    padding: 0.5em;
    box-shadow: 2px 2px 1px 1px $color-button-shadow;
    color: $color-font;
}
