@import "./variables.scss";

.input-text-field {
    outline: none;
    background-color: $color-dark;
    border: 1px solid $color-base-bright;
    color: $color-font-greyish;
    font-size: 150%;
    font-family: "Josefin Sans";
    padding: 0.2em;
    margin: 0;
}