
// main colours
$color-base: #07030E;
$color-entry-card: #160E2F;
$color-accent: #3C3433;
$color-bright: #625937;
$color-emphasis: #3C3433;
$color-ui-text: #fff7d4;

$color-positive: #007024;
$color-negative: #4E005C;

