
// main colours
$color-base: #07030E;
$color-base-brighter: #0E0027;
$color-base-bright: #16003D;
$color-entry-card: #160E2F;

$color-pane: #5A5650;

$color-accent: #736639;
$color-bright: #DCCA92;
$color-emphasis: #B89C4F;
$color-font: #fff7d4;

$color-button-shadow: rgba(66, 64, 41, 0.445);

$color-positive: #007024;
$color-negative: #4E005C;





