
.create-entry-page-main {
    text-align: center;
    

    .form-section {
        text-align: left;
        margin: 0.5em 0;
        label {
            display: block;
            text-align: left;
            margin-bottom: 0;
        }

        .entry-title-field {
            width: 50%;
        }

        .entry-content-textarea {
            resize: none;
            width: 100%;
            height: 500px;
            margin: 0;
            padding: 0.25em;
        }
    }

    fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    .event-tags-subforms-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .subform-flex-item {
        margin: 0.5em;
        width: 33%;
        
    }

}

