@import "../common/variables.scss";
@import "../common/paperpage.scss";
@import "../common/eventtag.scss";

.journal-entry-detail-main {
    width: 50vw;
    margin-top: 2em;
    margin-bottom: 2em;
    height: fit-content;
    @include event-tag;

    .journal-entry-page {
        @include journalpagelayout;

        width: 60vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 600px 200px;
        align-items: stretch;

        .event-tag-body {
            align-self: end;
            .event-tag-container {
                display: flex;
                flex-flow: row wrap;
                background-color: $color-dark;
                padding: 0 0.75em;
                align-content: flex-start;
                
            }
        }

        .event-tag-body {
            vertical-align: bottom;
        }

    }

}