@import "../../common/variables.scss";

.background {
    width: 100vw;
    height: 100%;
    z-index: -999;
    position: fixed;
    left: 0;
    top: 0;


    .leaf {
        position: absolute;
        background-color: $color-neutral;
        width: 200px;
        height: 200px;
        clip-path: polygon(3% 94%, 23% 80%, 53% 89%, 36% 74%, 70% 81%, 48% 64%, 77% 68%, 60% 57%, 86% 46%, 63% 47%, 71% 34%, 81% 16%, 56% 40%, 50% 20%, 47% 43%, 33% 27%, 37% 52%, 19% 32%, 25% 63%, 9% 46%, 19% 76%);
        z-index: 11;
        left: 0;
        opacity: 0;

        @for $i from 0 to 8 {
            &:nth-child(#{$i + 1}) {
                transform: skew(random(75) * -1 * -1deg, random(45) * -1 * -1deg);
                rotate: random(360) * 1deg;
                bottom: ((10 + random($limit: 80)) * 1%);
                animation: flyingleaves random($limit: 10) * 2s ease-in-out infinite;
                animation-delay: calc($i * 4s / 5);
            }
        }
    }

}

@keyframes flyingleaves {
    0% {
        transform: skew(-45deg, -45deg);
        opacity: 0%;
    }

    20% {
        opacity: 0%;
    }

    30%,
    60% {
        opacity: 100%;
    }

    70% {
        opacity: 0%;
    }

    100% {
        left: 110%;
        transform: skew(45deg, 45deg);
        opacity: 0%;
    }
}