@import "../common/variables.scss";


.journal-entry-card {
    all: inherit;
    background-color: $color-paper;
    color: $color-font-greyish;
    width: 300px;
    margin: 2em 5em;
    height: 400px;
    box-shadow: 4px 4px 1px 1px $color-button-shadow;
    font-family: "Calligraffitti";


    text-decoration: none;
    text-align: center;

    display: flex;
    flex-direction: column;


    h2, h3, .label-outcome {
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 0;
        height: fit-content;
    }

    p {
        text-align: left;
        font-weight: 200;
        word-break: break-word;
    }

    .journal-entry-card-link {
        all: inherit;
        cursor: pointer;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .rating-header {
        text-align: right;
    }

    .event-tag-container {
        display: flex;
        flex-flow: row wrap;
        background-color: $color-base-brighter;
        padding: 0.25em 0.25em;
        align-content: flex-start;
        justify-content: center;
        margin-bottom: 0;
        min-height: 100px;
    }

    .event-tag {
        background-color: $color-paper;
        padding: 0.25em;
        margin: 0.2em 0.5em;
        height: fit-content;
        box-shadow: 2px 2px $color-button-shadow;
        font-family: "Josefin Sans";
        font-weight: 400;
        color: $color-font;
    }

    // colour styles for positve, neutral and negative type of event tags
    .positive {
        border: $color-positive-4 2px solid;
        background-color: $color-positive;
    }

    .negative {
        border: $color-negative-4 2px solid;
        background-color: $color-negative;
    }

    .neutral {
        border: $color-neutral 2px solid;
        background-color: $color-dark;
    }
}



.eye-glaring {
    box-shadow: 0px 0px 30px rgba(104, 73, 38, 0.979);
}

.eye-unsafe {
    box-shadow: 0px 0px 30px rgba(168, 5, 5, 0.979);
}

.unreadable {
    box-shadow: 5px 5px 10px black;
}


