@import "../assets/variables.scss";

.match-entry-card {
    background-color: $color-entry-card;
    color: $color-font;
    width: 300px;

    h2, .label-outcome {
        text-align: center;
    }

    
}


.outcome-win {
    background-color: $color-positive;
}

.outcome-loss {
    background-color: $color-negative;
}