@import "../assets/variables.scss";

.journal-entry-card {
    all: inherit;
    background-color: $color-pane;
    color: $color-font;
    width: 300px;
    text-decoration: none;
    text-align: center;

    h2, .label-outcome {
        text-align: center;
    }

    .journal-entry-card-link {
        all: inherit;
        cursor: pointer;
    }

    
}


.outcome-win {
    background-color: $color-positive;
}

.outcome-loss {
    background-color: $color-negative;
}