@import "../common/variables.scss";
@import "../common/buttonstyle.scss";

.topbar {
    background-color: $color-base-bright;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: $color-font;
    padding-left: 0.5em;
    padding-right: 0.5em;
    z-index: 999;
    img {
        width: 100px;
        height: 100px;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 3em;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        li {
            @include link-container;
            display: inline-block;
        }
    }
}