@import "../assets/variables.scss";
@import "../assets/buttonstyle.scss";

.topbar {
    background-color: $color-base-bright;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $color-font;
}