@import "../common/variables.scss";

//buttonstyles

@mixin button-style {
    padding: 0.5em;
    background-color: $color-accent;
    box-shadow: 2px 2px 1px 1px $color-button-shadow;
    font-family: "Josefin Sans";
    color: $color-font;
    border: none;
    width: fit-content;

    &:hover {
        cursor: pointer;
    }
    
}

@mixin link-container {
    @include button-style;
    margin: 1em;
    a {
        color: inherit;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}
