@import "../common/variables.scss";

@mixin input-text-field {
    outline: none;
    background-color: $color-dark;
    border: 1px solid $color-base-bright;
    color: $color-font-greyish;
    font-size: 150%;
    font-family: "Josefin Sans";
    padding: 0.2em;
    margin: 0;
}

.input-text-field {
    outline: none;
    background-color: $color-dark;
    border: 1px solid $color-base-bright;
    color: $color-font-greyish;
    font-size: 150%;
    font-family: "Josefin Sans";
    padding: 0.2em;
    margin: 0;
}

@mixin input-dropdown {
    outline: none;
    background-color: $color-dark;
    border: 1px solid $color-base-bright;
    color: $color-font-greyish;
    font-size: 150%;
    font-family: "Josefin Sans";
    padding: 0.2em;
    margin: 0;
}

.input-dropdown {
    outline: none;
    background-color: $color-dark;
    border: 1px solid $color-base-bright;
    color: $color-font-greyish;
    font-size: 150%;
    font-family: "Josefin Sans";
    padding: 0.2em;
    margin: 0;
}

.input-slider {
    appearance: none;
    background-color: $color-dark;
    height: 20px;
}

.input-slider::-webkit-slider-thumb {
    appearance: none;
    background-color: $color-bright;
    height:20px;
    width:20px;
    border: 2px solid;
}