
// main colours
$color-dark: #020103;
$color-base: #07030E;
$color-base-brighter: #0E0027;
$color-base-bright: #16003D;
$color-entry-card: #160E2F;

$color-pane: #5A5650;
$color-pane-2: #221411;

$color-accent: #736639;
$color-bright: #DCCA92;
$color-emphasis: #B89C4F;

$color-font: #fff0ac;
$color-font-greyish: rgb(197, 193, 178);
$color-button-shadow: rgba(66, 64, 41, 0.445);

$color-positive: #B84A00;
$color-positive-2: #f33900;
$color-positive-3: #ff7b00;
$color-positive-4: #ffaf02;
$color-positive-5: #ffd900;

$color-neutral: #3a231d;
$color-negative: #0a1a56;





