
// main colours
$color-dark: #110023;
$color-base: #190033;
$color-base-brighter: #240049;
$color-base-bright: #48167a;
$color-border: #d0a1ff;

$color-entry-card: #A57B90;

$color-pane: $color-base-brighter;
$color-pane-2: $color-base-brighter;

$color-paper: $color-base-bright;
$color-paper-light: #7b41b4;

$color-accent: rgb(255, 115, 0);
$color-bright: rgb(255, 153, 0);
$color-emphasis: #A57B90;

$color-font: #64FFDD;
$color-font-greyish: #ddfff7;
$color-button-shadow: $color-border;
$color-shadow: $color-border;

$color-neutral: #48167a;
$color-positive: #520063;
$color-positive-2: rgb(145, 0, 73);
$color-positive-3: rgb(202, 57, 0);
$color-positive-4: #ff7c02;
$color-positive-5: #ffd900;


$color-negative: #0a1a56;
$color-negative-2:rgb(2, 40, 177);
$color-negative-3:rgb(22, 69, 238);
$color-negative-4:rgb(22, 141, 238);
$color-negative-5:rgb(105, 212, 255);

$color-leaf: #3a231d;





